@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.myProfile{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#FFF;
    color: black;

    .nav-bar {
        background-color: rgb(255, 255, 255);
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        box-shadow: 0.1px 0.1px 15px 0.1px rgba(77, 77, 77, 0.192);
        padding-top: 2% !important;
        padding-bottom: 2% !important;

        .menu {
            clear: both;
            max-height: 0;
            transition: max-height .2s ease-out;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                background-color: #fff;
                flex-direction: column;
                width: 100%;
    
                .menu-item {
                    width: 100%;
                    display: none;
    
                    :hover {
                        background-color: #4D3A99;
                        border-radius: 30px;
                        color: #fff;
                    }
    
                    a {
                        display: block;
                        text-decoration: none !important;
                        text-align: left;
                        padding: 10px 30px;
                        color: #232E35;
                        width: 100%;
                    }
                }
            }
        }
    }

    .body-header{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
        margin-top: 15%;
        
        .col{
            width: 45vw;
            height: 45vh;

            .class-component{
                p{
                    color: grey;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 30px;
                    letter-spacing: 7.5px;
                    text-align: left;
                    margin-left: 13.6em;
                }
            }

            .infos{
                
                .name{
                    display: inline-flex;
                    
                    h2{
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 44px;
                        line-height: 55px;
                        margin-right: 0.3em;
                        text-align: left;
                    }
                    #first{
                        color: black;
                    }
                    #last{
                        color: #4D3A99;
                    }
                }

                p{
                    color: black;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: left;
                    align-content: center;
                    margin-left: 9em;
                    margin-top: 1.5em;
                    width: 65%;
                }
            }

            .social-media{
                margin-top: 1em;
                text-align: left;
                margin-left: 8.4em;

                i{
                    cursor: pointer;
                    color: #4D3A99;
                    font-size: 1.5rem;
                    padding: 12px 12px 8px 12px;
                    border-radius: 100%;
                }
            
            }

            .image-perfil{
                width: 45vw;
                height: 60vh;

                .back{
                    width: 23em;
                    height: 32em;
                    right: 9em;
                    top: 6em;
                    position: absolute;
                    transform: rotate(-7.55deg);
                }

               .image{
                    width: 20em;
                    height: 30em;
                    right: 10em;
                    top: 7em;
                    z-index: 1;
                    position: absolute;
                }
            }
        }
    }

}

.nav-bar .logo {
    display: none;
}

/* menu icon */

.nav-bar .menu-icon {
    cursor: pointer;
    display: flex;
    padding: 35px;
    float: right;
    position: relative;
    user-select: none;
    align-items: center;

    .navicon {
        background: #4D3A99;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 20px;
    }

    .navicon:before,
    .navicon:after {
        background: #4D3A99;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .navicon:before {
        top: 5px;
    }
    
    .navicon:after {
        top: -5px;
    }

}

/* menu btn */

.nav-bar .menu-btn {
    display: none;
    margin-top: 10px;
}

.nav-bar .menu-btn:checked~.menu .menu-item{
    display: block;
    max-height: fit-content;
    background-color: #fff;
    padding: 10px;
    
    :hover {
        background-color: #4D3A99;
        border-radius: 20px;
        color: #fff;
    }

    a {
        display: block;
        text-decoration: none !important;
        text-align: left;
        color: black;
        padding: 8px 30px;
    }
}

.nav-bar .menu-btn:checked~.menu{
    display: block;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
    background-color: #4D3A99;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
    background-color: #4D3A99;
}

.container .container:target ~ .menu {
    display: none;
}

.nav-bar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav-bar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 850px) {

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .logo {
            display: block;
            float: left;
            height: 2em;
            text-decoration: none;
            margin-left: 4em;
        }

        .menu-icon {
            display: none;
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
            display: flex;

            flex-direction: row;
            justify-content: space-around;
            width: 50%;

            li {
                float: right;
                padding: 6px 10px;
                display: flex;
                align-items: center;
                justify-content: center;


                :hover {
                    background-color: #4D3A99;
                    border-radius: 30px;
                    color: white;
                }

                a {
                    font-family: 'Montserrat';
                    font-size: 0.8rem;
                    color: black;
                    text-decoration: none;
                    transition: .4s ease;
                    padding: 6px 8px;

                }
            }
        }
    }
}