@media screen and (max-width: 992px) {
  .sign-in-page {
    flex-direction: column-reverse;
    justify-content: center;

    .aside-logo {
      width: 300px;
      margin-bottom: 30px;
    }

    .aside-form {
      width: 90vw;
    }
  }
}

@media screen and (max-width: 450px) {
  .sign-in-page {
    .aside-logo {
      width: 250px;
    }
  }
}
